<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
</nav>
<div class="container-fluid">
    <div ng-hide="passwdChangeSuccess">
        <form name="changePasswordForm" autocomplete="off" novalidate>
            <div class="form-group">
                <div class="alert alert-info">
                    <b>Password Policy:</b><br> Your password needs to be at least 8 characters long and a maximum of 32 characters. It must contain at least 1 capital letter, 1 number and 1 special character. Allowed special characters: & ? ! $ #
                </div>
            </div>
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" name="currentPassword" placeholder="Current Password" title="Current Password"
                    ng-model="formData.currentPassword" ng-maxlength="32" maxlength="32" ng-trim="true" ng-change="currentPasswordError = false" autocomplete="off" oncopy="return false" onpaste="return false" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" ng-model="formData.password" ng-pattern="passwordRegexp"
                        ng-maxlength="32" maxlength="32" autocomplete="off" oncopy="return false" onpaste="return false" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="formData.confirmPassword" ng-maxlength="32" maxlength="32" autocomplete="off" oncopy="return false" onpaste="return false">
            </div>

            <div ng-if="passwordChangeErrorResponse !== ''">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span class="sr-only">Error: </span> {{passwordChangeErrorResponse}}
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-block" ng-disabled="passwordChangeSubmitButtonDisabled || passwdChangeSuccess"
                    ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Change Password</button>

            <br>
            <button type="button" class="btn btn-danger btn-block" ng-disabled="passwdChangeSuccess"
                    ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
        </form>
    </div>

</div>

